/* @import 'katex/dist/katex.css'; */
.markdown-content {
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    padding: 10px; 
    h1, h2, h3 { margin: 1em 0; }
    p { margin: 0.5em 0; }
    code { background: #f0f0f0; padding: 2px 4px; }
  }

  .YT {
    background-color: violet;
    width: 320px;
    height: 240px;
    margin: auto;
  }